h1 {
  color: green;
  transition: 0.5s;
  transform-origin: left center;
}

h1:hover {
  color: black;
  transform: rotate(50deg);
}

.carousel {
  max-width: 600px;
  transform: rotate(10deg);

}

.carousel figure {
  margin: 0;
}
