h1 {
  color: red;
  transition: 0.5s;
  transform-origin: left center;
}

h1:hover {
  color: black;
  transform: rotate(90deg);
}

.carousel {
  max-width: 600px;
}

.carousel figure {
  margin: 0;
}

.carousel.wrapper {
  maz-width: 600px;
  transition: 0.5;
}

.carousel-wrapper:hover {
  maz-width: calc(600px + 4rem);
  background-cloc: lightgrey;
  padding: 2rem;
  padding-bottom: 1px;
}

.mustache {
  position: absolute;
  width: 100px;
}

label {
  display: block;
  margin: 5px 0;
  text-align: right;
}

#madlib {
  width: 66%;
}
#madlib input,
#madlib select {
  width: 50%;
  margin-left: 10px;
}

.error {
  font-weigh: bold;
  color: red;
}

.error,
.story {
  display: none;
}

.story span {
  display: inline-block;
  padding: 5px;
  background-color: powderblue;
  border-radius: 5px;
  min-width: 2rem;
}
