h1 {
  color: green;
  transition: 0.5s;
  transform-origin: left center;
}

h1:hover{
  color: #6909E6;
  transform: rotate(10deg);
}

.carousel {
  max-width: 600px;
}


.carousel-wrapper {
  max-width: 600px;
  transition: 5s;
}
.carousel-wrapper:hover {
  max-width: calc(600px + 4rem);
  background-color: purple;
  padding: 2rem;
  padding-bottom: 1px;
}

.carousel figure {
  margin: 0;
}

.mustache {
  position: absolute;
  width: 100px;
}

label {
  display: block;
  margin: 5px 0;
  text-align: right;
}

#madlib {
  width: 66%;
}
#madlib input,
#madlib select {
  width: 50%;
  margin-left: 10px;
}

.story {
  display: none;
}

.story span{
  display: inline-block;
  padding:5px;
  background-color: powderblue;
  border-radius: 5px;
}
